* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#analogContainer {
    margin: auto;
    width: 300px;
    height: 300px;
    background-color: lightcoral;
    padding: 50px;
}
#clockFace {
    background-color: khaki;
    position: relative;
    width: 200px;
    height: 200px;
    border: 5px solid black;
    border-radius: 100%;
}
.faceNum {
    position: absolute;
    width: 100px;
    height: 20px;
    text-align: center;
    font-size: 16px;
}
#rotationPoint {
    position: absolute;
    top: 90px;
    left: 90px;
    border-radius: 100%;
    border: 5px solid black;
}
#num12 {
    width: 100px;
    top: 5px;
    left: 45px;
}
#num3 {
    width: 100px;
    top: 85px;
    right: -40px;    
}
#num9 {
    width: 100px;
    top: 85px;
    left: -40px;
}
#num6 {
    width: 100px;
    bottom: 5px;
    left: 45px;
}
.hand {
    position: absolute;
    background-color: black;
    transform-origin: 50% 100%;
}
#hourHand {
    width: 6px;
    height: 50px;
    top: 45px;
    left: 92px;
}
#minuteHand {
    width: 4px;
    height: 60px;
    top: 35px;
    left: 93px;
}
#secondHand {
    width: 2px;
    height: 70px;
    top: 25px;
    left: 94px;
    background-color: brown;
}

#digitalContainer, #binaryContainer, #hexContainer {
    margin: auto;
    text-align: center;
    font-size: 300%;
    width: 300px;
    background-color: salmon;
}
#binaryContainer {
    display: flex;
    justify-content: center;
    height: 180px;
    padding: 40px 0px;
    background-color: lightcoral;
}
#binaryHours, #binaryMinutes, #binarySeconds {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5px 0;
    padding: 0px 40px 0px 8px;
}
.binaryDigit {
    float: left;
    background-color: white;
    width: 25px;
    height: 25px;
    padding: 10px;
    font-size: 10px;
    text-align: center;
    margin: 2px;
}
#placeholder {
    border: none;
    background-color: inherit;
}

#dominoContainer {
    width: 300px;
    margin: auto;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 50px 0;
}
.dominoFace {
    width: 70px;
    margin: 0 10px;
    background-color: black;
    border: darkgray 1px solid;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.diceFace {
    width: 50px;
    margin: 8px auto;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 7px;
    row-gap: 7px;
}
.separator {
    width: 50px;
    background-color: rgb(32, 32, 32);
    height: 1px;
    margin: 1px auto;
}
.dot {
    background-color: black;
    border: rgb(20, 20, 20) 0.5px solid;
    border-radius: 100%;
    width: 12px;
    height: 12px;
}

#worldClockContainer {
    margin: auto;
    background-color: lightcoral;
    min-width: 250px;
    width: 300px;
    text-align: center;
    padding-bottom: 30px;
}
#worldClockFace {
    border: darkgrey 1px solid;
    margin: auto;
    text-align: center;
    font-family: monospace;
    background-color: rgb(20, 20, 20);
    border-radius: 7px;
    border-color: whitesmoke;
    color: rgb(48, 48, 48);
    font-size: 120%;
    padding: 23px 20px;
    width: 238px;
    position: relative;
}
.pin {
    height: 6px;
    width: 6px;
    border-radius: 100%;
    background-color: whitesmoke;
    position: absolute;
    z-index: 5;
}
#p1 {
    top: 11px;
    left: 11px;
}
#p2 {
    top: 11px;
    right: 11px;
}
#p3 {
    bottom: 11px;
    left: 11px;
}
#p4 {
    bottom: 11px;
    right: 11px;
}
.backlight {
    color: whitesmoke;
}

@media only screen and (max-width: 500px) {
    body {
        background-color: lightcoral;
        text-align: center;
    }
    #worldClockFace {
        font-size: 110%;
        width: 220px;
    }
}